@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
    top: 20px;
    max-width: 100% !important;
}
.container{
    background: linear-gradient(116.82deg, #E12D93 0%, #2F113E 100%);
}
img .group1{
    position: absolute;
    width: 312.04px;
    height: 279px;
    left: 1058px;
    top: 34px;
    opacity: 0.1;
}
img .group2{
    position: absolute;
    width: 369.4px;
    height: 330.29px;
    left: 471.57px;
    top: 580.24px;
    opacity: 0.1;
    transform: matrix(-0.91, -0.42, -0.42, 0.91, 0, 0);
}
img .group3{
    position: absolute;
    width: 388.63px;
    height: 347.48px;
    left: 357.47px;
    top: 10px;
    opacity: 0.1;
    transform: matrix(-0.85, 0.52, 0.52, 0.85, 0, 0);
}
img .group4{
    position: absolute;
    width: 388.63px;
    height: 347.48px;
    left: 1245.47px;
    top: 493px; 
    opacity: 0.1;
    transform: matrix(-0.85, 0.52, 0.52, 0.85, 0, 0);
}
img .group5{
    position: absolute;
    width: 170px;
    height: 152px;
    left: 1107px;
    top: 530.98px;
    opacity: 0.1;
    transform: rotate(-24.68deg);
}
.heading{
    position: absolute;
    width: 1280px;
    height: 64px;
    left: 109px;
    top: 179px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
.paragraph{
    position: absolute;
    width: 1088px;
    height: 24px;
    left: 109px;
    top: 255px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em; 
    color: #FFFFFF;
}
.box-frame{
    position: absolute;
    width: 398px;
    height: 48px;
    left: 109px;
    top: 343px;
}
.box-frame .rec1{
    box-sizing: border-box;
    position: absolute;
    width: 54px;
    height: 48px;
    left: 344px;
    top: 0px;  
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 4px;
}
.box-frame .rec2{
    box-sizing: border-box;
    position: absolute;
    width: 54px;
    height: 48px;
    left: 258px;
    top: 0px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 4px;
}
.box-frame .rec3{
    box-sizing: border-box;
    position: absolute;
    width: 54px;
    height: 48px;
    left: 172px;
    top: 0px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 4px;
}
.box-frame .rec4{
    box-sizing: border-box;
    position: absolute;
    width: 54px;
    height: 48px;
    left: 86px;
    top: 0px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 4px;
}
.box-frame .rec5{
    box-sizing: border-box;
    position: absolute;
    width: 54px;
    height: 48px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 4px;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px; 
    position: absolute;
    width: 156px;
    height: 48px;
    left: 563px;
    top: 343px;
    background: #11FB44;
    border-radius: 6px;
}
.button p{
    width: 45px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 0;
    flex-grow: 0;
}